numpy
matplotlib
torch
docx
seaborn
scikit-learn
wordcloud
nltk
streamlit
flask
jupyter
ipython
pandas 
openai 
requests
tqdm
IProgress
unstructured
langchain-core 
langchain-community 
langchain-openai 
langchainhub 
langchain_text_splitters
python-dotenv
langchain
duckduckgo-search
pydantic
